/* Base styles */
body {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
}

h1 {
    font-family: Georgia, serif;
    font-weight: bold; /* Hace que el texto sea más grueso */
}

/* Contenedor principal */
.container {
    flex-grow: 1; /* Expande el contenido para empujar el footer hacia abajo */
    padding-top: 20px;
}

/* Navbar */
header {
    background-color: #ADD8E6 !important; /* Azul claro */
    padding: 10px 0; /* Ajuste para que no se vea tan grande */
}

/* Navbar links */
.navbar-brand, .nav-link {
    color: #000000 !important;
    font-size: 18px;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

/* Activo */
.navbar-nav .nav-item .nav-link.active {
    background-color: #004080 !important; /* Azul más visible */
    color: white !important;
    border-radius: 5px;
}

/* Hover */
.navbar-nav .nav-item .nav-link:hover {
    background-color: #007bff !important;
    color: white !important;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Se mantiene al fondo */
    width: 100%;
}

    /* Links en el footer */
    footer a {
        color: #ffffff;
    }

        footer a:hover {
            color: #007bff;
        }

/* Botones con borde circular y fondo */
button, .btn-custom {
    background-color: #1560BD !important; /* Azul claro para el fondo */
    color: white !important;
    border: 3px solid #003366 !important; /* Azul oscuro para el borde */
    border-radius: 35% !important; /* Hace el botón redondo */
    padding: 8px 10px !important; /* Ajuste para que se vea bien el círculo */
    font-size: 16px !important;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    /* Hover en los botones */
    button:hover, .btn-custom:hover {
        background-color: #ADD8E6 !important; /* Azul más claro cuando se pasa el mouse */
        color: black !important;
        
        font-style: italic;
        text-decoration: none;
    }

/* Links */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

    a:hover {
        color: #0056b3;
        text-decoration: none;
    }

/* Responsive */
@media (max-width: 768px) {
    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }
}
