
@{
    ViewData["Title"] = "Chats";
}

<div class="text-center">
	<h1 class="display-4">Chats</h1>
	<p>All chats will be displayed here</p>

	<a href="/Chats/AddMessage">Add </a>
	<a href="/Chats/DisplayChats">Display </a>
</div>