
@{

	<h1>Send Message</h1>
	<form action="/Chats/SendMessage" method="POST">
		<div class="form-group">
			<label for="Name">Name:</label>
			<input type="text" id="Name" name="Name" class="form-control" required />
		</div>

		<div class="form-group">
			<label for="Text">Message:</label>
			<input type="text" id="Message" name="Text" class="form-control" required />
		</div>
		<button type="submit" class="btn btn-primary">Send</button>
	</form>

}
