@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WhatsUp</h1>
    <p>Where chats and users are the priority</p>
    <a href="/Chats/IndexChats">Start chatting</a>
</div>
