@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p> Last Updated: [March 2025] </p>
<p> Welcome to MvcWhatsUp! Your privacy is important to us, and we want you to feel safe while using 
    our chat platform.</p>

<h2>What Information We Collect</h2>
<p> 
    When you sign up, we collect basic details like your username, email, and phone number. 
    While using the chat, we process the messages you send—but we don’t sell or share them with third parties.     
    We use your information to:
    Allow you to chat with others.
    Improve our service and fix bugs.
    Keep the platform secure 
</p>

<h2>Who Can See Your Messages?</h2>
<p>Your private messages stay private—only you and the recipient can see them. However, we may review 
      chats if they are reported for violating our terms (like spam or abuse).</p>
